{% extends 'base.html' %}
{% block content %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">{{ currentBu }}</h1>
            {% comment "score deprecated" %}
            <h4>몰입: {{ scoreAvg.0 }}</h4>
            <h4>성과: {{ scoreAvg.1 }}</h4>
            <h4>핵심: {{ scoreAvg.2 }}</h4>
            <h4>업무: {{ scoreAvg.3 }}</h4>
            {% endcomment %}
            {% if recentUpdateDate and employee_size %}
            <span><b>

            최근 업데이트일: {{ recentUpdateDate }} <br>
            직원수: {{ employee_size }} 명
          </b></span>
            {% endif %}
        </div>
    </div>
    <div class="container" align="center">
        <div class="row">
            <div class="col-md-6">
                <h5 style="margin-bottom:15px">성과 및 역량 평가</h5>
                {{ grade.as_html }}
            </div>
            <div class="col-md-6">
                <h5 style="margin-bottom:15px">교육참여</h5>
                {{ edu.as_html }}
            </div>
        </div>
        <hr><br>
        <div class="row">
            <div class="col-md-6">
                <h5 style="margin-bottom:15px">VDI</h5>
                {{ vdi.as_html }}
            </div>
            <div class="col-md-6">
                <h5 style="margin-bottom:15px">Mobile EP</h5>
                {{ mep.as_html }}
            </div>
        </div>
        <hr><br>
        <div class="row">
            <div class="col-md-6">
                <h5 style="margin-bottom:15px">Email</h5>
                {{ email.as_html }}
            </div>
            <div class="col-md-6">
                <h5 style="margin-bottom:15px">감사토큰</h5>
                {{ token.as_html }}
            </div>
        </div>
        <hr><br>
        <div class="row">
            <div class="col-md-6">
                <h5 style="margin-bottom:15px">Gate Pass</h5>
                {{ gate.as_html }}
            </div>
            <div class="col-md-6">
                <h5 style="margin-bottom:15px"></h5>
            </div>
        </div>
        <hr><br>

</main>
{% endblock %}
